<div class="row">
  <div class="col-md-12">
      <h1 class="titulo-interna">Medicamentos</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <p class="texto-interna">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium, sem at lacinia blandit, ex ipsum blandit arcu, eu fermentum metus magna nec velit. Donec pretium lacus vitae magna malesuada, quis porttitor metus gravida. Morbi congue auctor bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="grilla">
    <div class="item" *ngFor="let drug of drugs">
  <div class="content">
    <img [src]="'../assets/' + drug.imagen +'.jpg'" alt="Avatar" class="image" style="width:100%" alt="{{drug.descripcion}}">
    <div class="middle">
      <a href="#" class="text">Agregar</a>
    </div>
  </div>
  <p>{{drug.nombre}}</p>
  <span>Valor unidad: ${{drug.precio}}</span>
</div>
</div>
  </div>
</div>

